# data
./data/

models/

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log

# IDEs and Editors
.vscode/

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*.orig
*.DS_Store

*.csv
*.json